@main("BN Viewer"){
	<div id="topButtonsDiv">
		<button class="button topButton homeButton" type="button" onclick="location.href='/bn/home';">Home</button>
		<button class="button topButton profileButton" type="button" onclick="location.href='/bn/profile';">Profile</button>
		<button class="button topButton publicButton" type="button" onclick="location.href='/bn/public';">Public Bayesian Network</button>
		<button class="button topButton privateButton" type="button" onclick="location.href='/bn/private';">Private Bayesian Network</button>
	</div>
	<div class="homeDiv">
		<br><br>
	<p>
		The <strong class="homeStrong">Bayesian Network Viewer</strong> is a tool for viewing and sharing clinical Bayesian
		networks.
		@** as well as various other types of predictive models. **@
	</p>
		<br>
	<p>For <strong><span class="publicNetwork">Public Bayesian Network</span></strong>,
		any user can view the model and raw data, inference, and test own raw data using the model.
	</p>
	<p>For <strong><span class="privateNetwork">Private Bayesian Network</span></strong>, only
		registered user can view the model and raw data, inference, and test own raw data using the model and learn a
		new model using the testing data or combined data with original one.
		The registered user can upload new models and shared them with other registered users.
		Also the owner of the model can update and delete the model, and view the log
		history of the model.
	</p><br>
	<p>The file format of the bayesian networks is *.xdsl that is built on
		<a class="homeLink" href="https://dslpitt.org/genie/wiki/GeNIe_Tutorials:_Tutorial_3_-_Building_a_Bayesian_network">
			GeNIe</a>.</p>
		<br>
	<p>Any question or comment please
		<a href="mailto:bnviewer@@mii.ucla.edu?Subject=Bayesian%20network%20viewer"
		   target="_top">contact us</a>.
	</p>
	</div>
}
