@(models: List[String], dataType:String, users: List[User], bnAlgorithmNameMap: Map[String, String])

@main("BN Viewer"){

	<div id="topButtonsDiv">
		<button class="button topButton homeButton" type="button" onclick="location.href='/bn/home';">Home</button>
		<button class="button topButton publicButton" type="button" onclick="location.href='/bn/public';">Public</button>
		<button class="button topButton privateButton" type="button" onclick="location.href='/bn/private';">Private</button>
		 @** @if( models != null ) {  **@
		<div id="showAlgorithmChangeDiv">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="algorithmSelect" class="algorithmSelectLabel">Inference algorithm
				<a class="logo navbar-btn" target="_blank" href="@routes.Assets.at("files/BN_inference_algorithm.pdf")"
					title="references"><img src="@routes.Assets.at("images/question.png")"></a>&nbsp;:</label>
			<select id="algorithmSelect">
				@for((key,value) <- bnAlgorithmNameMap ) {
					@if( value == "Clustering" ) {
						<option selected value="@key">@value</option>
					} else {
						<option value="@key">@value</option>
					}
				}
			</select>
			<button class="queryNodeNameButton" type="button" onclick="changeAlgorithm();">change</button>
		</div>
	</div>
	<div id="lowerButtonsDiv">
		<table class="lowerButtonsTable">
            <tr class="lowerButtonsTr">
                <td class="lowerButtonsTd">
                    <button type="button" class="button lowerButton showNetworkButton" onclick="loadModel()">View Model</button>
                    <button type="button" class="button lowerButton clearEviButton" onclick="clearAllEvidence()">Clear All Evidences</button>
                    <button type="button" class="button lowerButton clearTarButton" onclick="clearAllTargets()">Clear All Targets</button>
					<button type="button" class="button lowerButton centerButton" onclick="centerNetwork()">Center Network</button>
					<button type="button" class="button lowerButton centerButton" onclick="showRawData()">View Raw Data</button>
					@if(dataType.equals("public")) {
					    <button type="button" class="button lowerButton testModelButton centerButtonLast" onclick="testModel()">Test Model</button>
                    } else {
                        <button type="button" class="button lowerButton testModelButton" onclick="testModel()">Test Model</button>
                    }
                    @if(dataType.equals("private")) {
                        <button type="button" class="button lowerButton updateModelButton" onclick="updateModel()">Update Model</button>
						<button type="button" class="button lowerButton downloadModelButton" onclick="downloadModel()">Download Model</button>
						<button type="button" class="button lowerButton deleteModelButton" onclick="deleteModel()">Delete Model</button>
                        <button type="button" class="button lowerButton uploadButton" onclick="showUpload()">Upload New Model</button>
                        <button type="button" class="button lowerButton viewLogButton" onclick="viewLogHistory()">View Log</button>
                    }
                </td>
            </tr>
			<tr >
				<td class="lowerSelectTd">
					<div id="lowerSelectDiv">
						<label for="load" class="lowerSelectLabel">Select a network file:</label>
						@if( models == null || models.size() == 0 ) {
							<select id="load" onMouseDown="loadModel();">
								<option selected disabled hidden value=''>No existed bayesian network</option>
							</select>
						}else{
							<select id="load">
								<option selected disabled hidden value=''>Show existed bayesian network</option>
								@for(model <- models) {
									<option value="@model">@model</option>
								}
							</select>
						}
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div id="queryNodeNameDiv">
						@** &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; **@
						<label for="queryNodeNameSelect" class="queryNodeNameLabel">Query node name:</label>

					</div>
				</td>
			</tr>
        </table>
	</div>

	@if(flash.containsKey("success")){
		<div id="flashSuccessWindow">
			<div>title</div>
			<div id="flash-success-box" class="alert alert-success" >
				<p class="close" onclick="hideFlashSuccessBox()" data-dismiss="alert" aria-label="close">&times;</p>
				<strong>Success!</strong>&nbsp;@flash.get("success")
			</div>
		</div>
	}

	@if(flash.containsKey("error")){
		<div id="flashErrorWindow">
			<div>title</div>
			<div id="flash-error-box" class="alert alert-danger">
				<p class="close" onclick="hideFlashErrorBox()" data-dismiss="alert" aria-label="close">&times;</p>
				<strong>Error:</strong>&nbsp;@flash.get("error")
			</div>
		</div>
	}

	<div id="confirmWindow">
		<div>title</div>
		<div id="confirm-box" class="alert alert-info" >
			@** <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a> **@
			@**<p class="close" data-dismiss="alert" aria-label="close"
                   onclick="hideConfirmBox()">&times;</p> **@
			&nbsp;&nbsp;
			<button id="btnYesConfirmYesNo" type="button" class="btn btn-primary">Yes</button>
			<button id="btnNoConfirmYesNo"
                	type="button" class="btn btn-default">No</button>
		</div>
	</div>

	<div id="confirmLearnModelWindow">
		<div>title</div>
		<div id="confirm-learn-box" class="alert alert-info" >
			&nbsp;&nbsp;
			<strong>Confirm:</strong>&nbsp;
			<span class="alertLearnBoxMessage">
			&nbsp;&nbsp;Do you want to learn a new model from the testing raw data?<br>
			&nbsp;&nbsp;
				<input id="combineWithOriRawData" name="combineWithOriRawData"
                        value="yes" type="checkbox">&nbsp;Combine the original and testing raw data
				&nbsp;&nbsp;&nbsp;&nbsp;
			</span>
			<button id="btnYesConfirmLearnModel" onclick="saveNewModel();" type="button"
								class="btn btn-primary">Yes</button>
			<button id="btnNoConfirmLearnModel" onclick="hideConfirmLearnModelBox();" value="No"
                	type="button" class="btn btn-default">No</button>
		</div>
	</div>

	<div id="errorWindow">
		<div>title</div>
		<div id="alert-box" class="alert alert-danger" >
        	<p class="close" data-dismiss="alert" aria-label="close"
                   onclick="hideAlertBox()">&times;</p>
        	<strong>Alert:</strong>&nbsp;<span class="alertBoxMessage"></span>
		</div>
	</div>

	<div id="successWindow">
		<div>title</div>
		<div id="success-box" class="alert alert-success" >
			<p class="close" data-dismiss="alert" aria-label="close" onclick="hideSuccessBox()">&times;</p>
			<strong>Success!</strong>&nbsp;<span class="successBoxMessage"></span>
		</div>
	</div>

	<div class="deleting"><br><b>Deleting...</b>&nbsp;&nbsp;</div>
    <div id='splitter'>
        <div>
        	<div id="network"></div>
        </div>
        <div>
	        <div id="chartJQXPanel">
		        <div id="chartDiv">
		        </div>
	        </div>
        </div>
    </div>

    <div id="dialogSetValues">

		<div id="customWindowContent" style="overflow: hidden">

			<div id="dialogTabs">
				<ul>
	                <li>General</li>
	                <li>Set Evidence</li>
	                <li>Set Virtual Evidence</li>
	                <li>Definition</li>
	            </ul>
				<div id="dialogGeneralPanel"></div>
				<div id="dialogSetEvidencePanel">
					<div id="formDiv"></div>
					<input type="button" onclick="setEvidence()" value="Set Evidence" id="setEvidenceButton" />
				</div>
				<div id="dialogSetVirtualEvidencePanel">
					<div id="formDiv"></div>
					<input type="button" onclick="setVirtualEvidence()" value="Set Virtual Evidence" id="setVirtualEvidenceButton" />
				</div>
				<div id="dialogDefinitionPanel"></div>
			</div>

			<div style="float: right">
				<input type="button" onclick="clearEvidence()" value="Clear Evidence" id="clearEvidenceButton" />
				<input type="button" value="Done" id="doneButton" />
			</div>
		</div>

    </div>

    <div id="nodeMenu">
	    <input id="nodeID" type="hidden"/>
		<ul >
			<li id="target" onclick="setAsTarget()">Set As Target</li>
			<li id="offTarget" onclick="removeTarget()">Remove Target</li>
		</ul>
    </div>

    <div id="rawData">
		<div id="windowContent" style="overflow: hidden">
			<div id="rawTable"></div>
			<div style="float: right">
				<button type="button" onclick="downloadData()">Download</button>
				<input type="button" value="Close" id="rawDoneButton" />
			</div>

		</div>
	</div>

	<div id="uploadDiv">
		<br>
		<form enctype="multipart/form-data" id="modelForm" >
		<p style="font-size:20px"><strong>Please upload new file:</strong></p>
		<ol type="1">
			<li>
				<p>Select your model file with extension xdsl. </p>
				<div id="modelFileDiv" style="display:inline">
					<input id="modelFile" name="modelFile" type="file">
				</div>
				<br>
				Public:&nbsp;<input id="isModelPublic" name="isModelPublic" type="checkbox">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<label class="sharedByLabel" for="modelSharedBy">Shared with:&nbsp;</label>
				<select id="modelSharedBy" name="modelSharedBy" onChange="checkSharedWith();" multiple="multiple">
					@for(user <- users) {
						<option value="@user.userName">&nbsp;@user.firstName&nbsp;@user.lastName:&nbsp;&nbsp;@user.email</option>
					}
				</select>
				<br>
				<br>
				<label class="annotationLabel" for="annotation">Model annotation:&nbsp;</label>
				<textarea id="annotation" rows="6" cols="100"></textarea>

			</li>
			<br>
			<li>
				<p> Select your model's raw data file with extension csv (optional). </p>
				<input id="dataFile" name="dataFile" type="file"  /><br>
				Public:&nbsp;
                <input id="isRawDataPublic" name="isRawDataPubicOrSameUp"
                       value="isRawDataPublic" type="radio">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Shared with: The same as the model file&nbsp;
				<input id="isSameSharedBy" name="name="isRawDataPubicOrSameUp"
                        value="isSameSharedBy" type="radio">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<label class="sharedByLabel" for="rawDataSharedBy">Shared with:&nbsp;</label>
				<select id="rawDataSharedBy" name="rawDataSharedBy" onChange="checkSharedWith();" multiple="multiple">
					@for(user <- users) {
						<option value="@user.userName">&nbsp;@user.firstName&nbsp;@user.lastName:&nbsp;&nbsp;@user.email</option>
					}
				</select>
			</li>
		</ol>
		</form>
		<br><br>
		<div id="uploadButtonDiv">
			<input id="uploadSubmit" class="uploadCancelButton"  type="button" onClick="getModelUpload()" value="Upload" />
			<input id="uploadCancel" class="uploadCancelButton" type="button" value="Cancel" onClick="window.location='/bn/private';"  />
			&nbsp;&nbsp;
			<label for="uploadSubmit" class="uploading">Uploading...&nbsp;&nbsp;</label>
		</div>
		<br>
		@*<progress id ="modelProgress" value="0" max="100"></progress> *@
		@**<div style="float: right"> **@
	</div>

    <div id="updateDiv">
		<br>
        <div id="fileStatusDiv">
			@**
            <p style="font-size:20px"><strong>The current status of the file:</strong></p>
            <p class="selectedModelFileName"></p>
            <p class="uploadedBy"></p>
            <p class="uploadTime"></p>
            <p class="isPublic"></p>
            <p class="sharedWith"></p>
            <p class="rawDataFileName"></p>
			**@
        </div>
        @** <br> **@
        <form enctype="multipart/form-data" id="updateModelForm" >
		<p style="font-size:20px"><strong>Upload the updated information:</strong></p>
		<ol type="1">
			<li>
				<p>Model file: </p>

				<div id="updateModelFileDiv" style="display:inline">
					<input id="updateModelFile" name="updateModelFile" type="file">
				</div>
				<br>

				Public:&nbsp;<input id="isUpdateModelPublic" name="isUpdateModelPublic" type="checkbox">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<label class="sharedByLabel" for="modelSharedBy">Shared with:&nbsp;</label>
				<select id="updateModelSharedBy" name="updateModelSharedBy" onChange="checkSharedWith()" multiple="multiple">
					@for(user <- users) {
						<option value="@user.userName">&nbsp;@user.firstName&nbsp;@user.lastName:&nbsp;&nbsp;@user.email</option>
					}
				</select>
				<br>
				<br>
				<label class="annotationLabel" for="annotation">Model annotation:&nbsp;</label>
				<textarea id="annotationUpdate" rows="3" cols="100"></textarea>
			</li>
			@** <br> **@
			<li>
				<p class="rawDataFile">Raw data file: </p>
				<input id="updateDataFile" name="dataFile" type="file"  /><br>
				Public:&nbsp;
                <input id="isUpdateRawDataPublic" name="isUpdateRawDataPubicOrSameUp"
                       value="isRawDataPublic" type="radio">

				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Shared with: The same as the model file&nbsp;
				<input id="isUpdateSameSharedBy" name="isUpdateRawDataPubicOrSameUp"
                        value="isSameSharedBy" type="radio">
				@**
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<label class="sharedByLabel" for="rawDataSharedBy">Shared with:&nbsp;</label>
				<select id="updateRawDataSharedBy" name="updateRawDataSharedBy" onChange="checkSharedWith()" multiple="multiple">
					@@for(user <- users) {
						<option value="@user.userName">&nbsp;@user.firstName&nbsp;@user.lastName:&nbsp;&nbsp;@user.email</option>
					}
				</select>
				**@
			</li>
		</ol>
		</form>
		<br>
		<div id="updateButtonDiv">
			<input id="updateSubmit" class="uploadCancelButton"  type="button" onClick="getModelUpdate()" value="Update" />
			<input id="updateCancel" class="uploadCancelButton" type="button" value="Cancel" onClick="window.location='/bn/private';"  />
			&nbsp;&nbsp;
			<label for="updateSubmit" class="uploading">Updating...&nbsp;&nbsp;</label>
		</div>
		<br>
    </div>
	<div id="testModelDiv">
		<br>
        <div id="modelFileStatusDiv"></div>
        <br>
        <form enctype="multipart/form-data" id="uploadTestRawDataForm">
		<p style="font-size:20px"><strong>Upload raw testing data file:</strong></p>
			<input id="uploadTestRawDataFile" name="dataFile" type="file"  /><br>
		</form>
		<br>
		<div id="testModelButtonDiv">
			<input id="uploadTestRawDataSubmit" class="uploadCancelButton"  type="button" onClick="getTestRawData()" value="Test" />
			<input id="uploadTestRawDataCancel" class="uploadCancelButton" type="button" value="Cancel" onClick="window.location='/bn/private';"  />
			&nbsp;&nbsp;
			<label for="uploadTestRawDataSubmit" class="uploading">Updating...&nbsp;&nbsp;</label>
		</div>
		<br>
    </div>
	<br>
    <div id="viewLogDiv"></div>
}


