
html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /*overflow: hidden;*/
    font-family: Helvetica;
    /*background-color:#d9d9d9 !important; */ /* rgb(217, 217, 217) #ffd699;*/
    /*font-size:20px;*/
}

#headerDiv {
    padding-left:10px;
    /*background-color:#ffffff;*/
}

#topButtonsDiv {
    /*float:left;*/
   /*padding-top:20px;*/
   display:block;
   /*display: inline;*/
   background-color:#4c91cd;
   /*border: solid red 2px;*/
   /*width:100%;*/
   height: 34px; /*29px;*/
}

#legendDiv{
    /*display:block;*/
    height: 30px;
    display: none;
    width: 100%;
}
#lowerButtonsDiv {
   padding-bottom:1px;
   display:block;
   /*border: solid red 2px;*/
   /*margin-top: -13px;
   border: solid blue 2px;*/
   /*width:100%; */
   /*height: 102px;*/
}

.lowerButtonsTable{
    /*border: 1px solid pink;*/
    /*height: 102px;*/
    /*weight: 100%;*/
}

/*.lowerButtonsTr{
    height: 34px;
}*/
.lowerButtonsTd{
    /*vertical-align:top;*/
    /*width:100%;*/
    background-color:#ffebcc; /*#ffebcc;*/ /*#4c91cd;*/
    height: 34px; /*29px;*/
}

.lowerSelectTd{
    /*vertical-align:bottom;*/
    padding-left: 5px;
}
#lowerSelectDiv{
    float:left;
    height:34px;
    /*margin-bottom:-5px;*/
}

.lowerQueryNameTd{
    float:left;
    height:34px;
    padding-left: 5px;
}

#queryNodeNameDiv{
    float: left;
    display: none;
    height:34px;
}
#showAlgorithmChangeDiv{
    float: left;
    /*display: none;*/
    height:34px;
}

.queryNodeNameTd{
    align: left;
}

#headerDiv table{
    width:100%;
}

#headerDiv td.left{
    width:500px;
    height:90px;
    display: inline-block;
    vertical-align:middle;
}

#headerDiv .leftTop {
	width:400px;
	height:90px;
	vertical-align:middle;
	text-align:left;
	padding-left:10px;
	padding-top:13px;
}

#headerDiv td.leftBottom {
	/*width:205px;*/
	height:30px;
	vertical-align:bottom;
	padding-left:10px;
}

#headerDiv td.center {
	/*border-left: 1px solid #22578B;*/
	/*display:table-cell;*/
	display:inline-block;
	vertical-align:middle;
	text-align:left !important;
	/*width:750px;*/
	/*float:left;*/
	/*margin-left:20px;
	padding-left:20px;*/
	/*text-align:center;*/
	height:90px;
	font-family:Segoe UI, Segoe UI Semilight;
	/*font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;*/
	font-size:60px;
}

#headerDiv td.right {
    min-width:200px;
	text-align:right;
	vertical-align:bottom;
	font-size:18px;
	padding-right:10px;
	color:#4c91cd; /*#337ab7;*/
}

/*
#contentDiv {
    width:90%;
    height:70%;
    padding-left:20px;
}*/

.bayesHrTop {
    height: 1px;
    background: #4c91cd; /*#cccccc;*//*#1a4156;*/
    margin-bottom:0 !important;
    margin-top: -2px;
    margin-left: -10px;
    padding-left: 10px !important;
}

.bayesHrBottom {
    height: 1px;
    background:#4c91cd; /*#000000;*/ /*#1a4156;*/
    margin-bottom:0 !important;
    margin-top: 0 !important;
}

#footDiv, .push {
	/*position:absolute;*/
	width:100%;
	height:28px; /*2em;*/
	font-family:Segoe UI;
	background-color:#ffffff;
	color:#000000;
	font-size:16px;
	bottom:0;
}

#helpCancelButton {
    width:65px;
    float: right;
}

#flash-success-box, #flash-error-box{
    /*margin-top:20px;
    margin-bottom:0px;*/
}

.button {
    /*background-color: #4CAF50;*/ /* Green */
    border: none;
    color: white;
   /* padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    outline:none;
    height:34px;
    /*font-weight:bold;*/
}

.topButton {
    background-color:#4c91cd; /*#337ab7;*/
    font-size: 18px;
    /*padding: 2px 6px;
    margin: 0px 0px;*/
    border-right:1px solid #1a4156;
    /*border-color:#21578A #337ab7 #337ab7 #21578A;*/
    /*border:1px solid #255b8e;*/ /*#1a4156;*/ /*#21578A;*/ /*#337ab7 #337ab7 #21578A;*/
    /*border:2px solid;*/
    float:left;
    font-weight:bold;
}

.topButton:hover{
    background-color:#dadada; /*#bfbfbf;*/ /*#ffffff;*/ /*#1a4156;*/ /*#153451;*/ /*#21578A;*/
    font-weight:bold;
    /*border:1px solid #000000;*/
    color:#1a4156; /*#000000;*/
    outline:none;
}

.topButton.selected{
    background-color: #ffebcc; /*#ffffff;*/ /*#1a4156;*/ /*#153451;*/ /*#21578A;*/
    font-weight:bold;
    /*border:1px solid #000000;*/
    font-weight:bold;
    color:#1a4156; /*#000000;*/
    outline:none;
}

.topButton.selectedHome{
    background-color: #ffffff;
    font-weight:bold;
    font-weight:bold;
    color:#1a4156; /*#000000;*/
    outline:none;
}

.algorithmSelectLabel{
    font-size: 18px;
    font-weight: bold;
    display: inline-block !important;
    vertical-align: middle !important;
    color: white;
    margin-top: 2px !important;
    margin-left:5px !important;
}

.privateButton{
    /*border-right:none !important;*/
}

.lowerButton {
    background-color:#ffebcc; /*#ffffff;*/ /*#4c91cd;*/ /*#4da6ff;*/ /*#1EC0FF;*/   /*#3E95F7;*/ /*#35A2CE*/
    font-size: 16px;
    /*padding: 0px 4px 0px 0px !important;*/
    text-align:bottom;
    /*margin: 0px 0px;*/
    border-right:1px solid #737373; /*#ffffff;*/ /*#737373;*/ /*#21578A;*/
    /*border:1px solid #0073e6;*/
    float: left;
    color:#737373; /*#404040; /*#1a4156;*/
    outline:none !important;
}

.lowerButton:hover{
    background-color:#dadada; /*#bfbfbf*/; /*#004280;*/ /*#245D73;*/
    /*font-weight:bold;*/
    /*border:1px solid #000000;*/
    color:#000000; /*#1a4156;*/
    /*text-decoration:underline;*/
    /*border-bottom: 2px solid black;*/
    /*font-weight:bold;*/
    border-right:1px solid #737373; /*#737373;*/
    /*margin-left: -1px;
    margin-bottom: -2px;*/
    /*margin-top: 1px;*/
    /*padding: 0px 4px 0px 0px !important;*/
}

.lowerButton.selected{
    background-color:#ffffff; /*#004280;*/ /*#245D73;*/
    /*font-weight:bold;*/
    /*border:4px solid #ffffff;*/
    color:#000000; /*#1a4156;*/
    /*font-weight:bold;*/
    border-right:1px solid #737373; /*#737373;*/
   /* margin-left: -1px;
    margin-bottom: -2px;
    margin-top: 1px;*/
    /*text-decoration:underline;*/
    /*padding: 2px 0px 2px 0px !important;*/
}


.lowerSelectLabel{
    font-size: 16px;
    font-weight: normal;
    display: inline-block !important;
    vertical-align: middle !important;
    margin-bottom: 12px !important;
}

.queryNodeNameLabel{
    font-size: 16px;
    font-weight: normal;
    display: inline-block !important;
    vertical-align: middle !important;
   /* margin-top: 6px !important;*/*/
}

.showNetworkButton.selected{
    margin-left: 0px !important;
}

.leftButton{
    background-color:#4c91cd;/*#337ab7;*/
    font-size: 22px;
    font-weight:bold;
    font-family:Segoe UI, Segoe UI Semilight;
    /*font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;*/
    /*text-decoration:underline;*/
    color:#404040;/*#d9d9d9;*/
    cursor: none;
}

.activeButton{
    text-decoration:underline;
    cursor: pointer;
}
/*
.leftButton:hover{
    color:#ffffff;
    font-size: 22px;
    text-decoration:none;
}

.leftButton.selected{
    color:#ffffff;
    font-size: 22px;
    text-decoration:none;
}*/


.activeButton:hover{
    color:#d9d9d9; /*#ffffff;*/
    font-size: 24px;
    text-decoration:none;
}

.activeButton.selected{
    color:#ffffff;
    font-size: 24px;
    text-decoration:none;
}

.viewLogButton, .centerButtonLast {
    border-right:none !important;
}

.uploadCancelButton{
    font-size: 1.3em;
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

#uploadSubmit, #updateSubmit, #uploadTestRawDataSubmit{
    font-weight: bold;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
}

#uploadSubmit:hover, #updateSubmit:hover, #uploadTestRawDataSubmit:hover{
    color: #1a4156; /*#21578A;*/
}
#uploadCancel:hover, #updateCancel:hover, #uploadTestRawDataCancel:hover{
    color: #4c91cd; /*#21578A;*/
}

.queryNodeNameButton, .legendToggleButton,
.viewRawDataValidationResultButton, .viewTestDataValidationResultButton{
    height:30px;
    font-weight: bold;
    font-size: 16px;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    border:1px;
    display: inline-block !important;
    vertical-align: middle !important;
    margin-bottom: 5px !important;
    outline:none !important;
}

.queryNodeNameButton:hover, .legendToggleButton:hover,
.viewRawDataValidationResultButton:hover, .viewTestDataValidationResultButton:hover{
     color: #4c91cd;
}
/*.bootstrap-select */

#load{
    align-items:center !important;
    -webkit-appearance: menulist !important;
    border-radius:initial;
    vertical-align: text-bottom;
    line-height: inherit;
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 18px !important;
    /*border-color:#d3d3d3 !important;*/
    border:1px solid #d3d3d3 !important;
    border-bottom-right-radius:4px !important;
    border-bottom-left-radius:4px !important;
    border-top-right-radius:4px !important;
    border-top-left-radius:4px !important;
    padding: 2px 0 2px 4px !important;
    font-weight: normal !important;
    color: #555555 !important;
    height: 34px !important;
    cursor: pointer;
    background:#e6e6e6 !important;
}

#kFoldField{
    height: 28px !important;
    border:1px solid #d3d3d3 !important;
    border-bottom-right-radius:4px !important;
    border-bottom-left-radius:4px !important;
    border-top-right-radius:4px !important;
    border-top-left-radius:4px !important;
    font-weight: normal !important;
}
#algorithmSelect{
    align-items:center !important;
    -webkit-appearance: menulist !important;
    border-radius:initial;
    /*vertical-align: text-bottom;*/
    line-height: inherit;
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 18px !important;
    /*border-color:#d3d3d3 !important;*/
    border:1px solid #d3d3d3 !important;
    border-bottom-right-radius:4px !important;
    border-bottom-left-radius:4px !important;
    border-top-right-radius:4px !important;
    border-top-left-radius:4px !important;
    margin-top: 3px !important;
    font-weight: normal !important;
    color: #555555 !important;
    height: 28px !important;
    cursor: pointer;
    background:#e6e6e6 !important;
}
/*
option:not(:checked) {
    background-color: green;
    color:red;
}*/
#load:hover{
    border: 1px solid #999999 !important;
    outline:none important;
    color: #212121 !important;
    background: #dadada !important;
}

#load:focus, #load.loadFocus, #load:active{
    background:#ffffff !important;
    border:1px solid #999999 !important;
    outline:none important;
    outline-color:#999999 !important;
    border-color:#999999 !important;
}

.signInButton{
    font-size: 1.3em;
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
    font-weight: bold;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
}

.signInButton:hover{
    color: #1a4156; /*#21578A;*/
}

.deleting{
    display:none;
    color: #4da6ff;
}

.uploading{
    display:none;
    color: #4da6ff; /*red;*/ /*#1a4156;*/
}

.homeTitle{
    font-size:25px;
    font-weight:bold;
}

.homeDiv{
    font-family: "Times New Roman", Times, serif;
    font-size:21px;
    padding-left:20px;
    /*display:none;
    border-style:solid;
    border-bottom-color:#004280;
    border-right-color:#004280;
    border-width:thin medium medium thin;*/
}

.homeStrong {
    color:#1a4156; /*#e65c00;*/
    font-family:Segoe UI, Segoe UI Semilight;
    /*font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;*/
    font-size:25px;
}

.publicNetwork, .privateNetwork {
    color:#4c91cd;
    font-family: Helvetica;
    font-size:18px;
}

#viewLogDiv{
    display:none;
    /*border:2px solid red;*/
    /*width:100%;*/
    overflow: auto;
    padding-left: 60px;
}

.logTable{
	border:2px solid #666;
	/*width:70%;*/
	border-collapse:collapse;
}

.logTable th, .logTable td{
    border: 1px solid #666;
    padding-left:2px;
}

.logTable th{
    font-size:20px;
    height:25px;
	padding: 3px;
}

.logTable td{
   height:20px;
   padding: 2px;
}

.help-block{
    display:none !important;
}

.help-inline{
    color:red;
}

input{
    outline:none !important;
}

.clearfix{
  padding-left:10px !important;
  padding-bottom:10px !important;
}

/* Sortable tables */
table.sortable th {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

table.sortable th.operationBy{
    width: 300px;
}

table.sortable th.operationTime{
    width: 280px;
}

table.sortable th.operationNo{
    width: 100px;
}

table.sortable th.operation{
    width: 200px;
}

.homeLink{
    color:#e65c00; /*#1a4156;*/
    font-weight: bold;
    cursor: pointer;
}

.homeLink:hover, .homeLink:active, .homeLink:visited{
    color:#e65c00;
    font-weight: bold;
}

a:hover, a:active{
    color:#1a4156;
}

#centerLeftDiv{
    /*max-width:300px;*/
    height:100%;
    /*width: 250px;*/
    font-family: "Times New Roman", Times, serif;
    font-size:18px;
    padding-top: 50px;
    padding-left:20px;
    padding: 10px;
    /*margin: 20px;
    border-style:solid;
    border-top-color:#004280;
    border-left-color:#004280;
    border-width:medium thin medium medium;
    display: online;*/
    background-color:#4c91cd; /*#1a4156;*/
}

#contentDiv{
    /*
    padding-top: 10px;
    padding-right: 500px;
    padding-bottom: 10px;*/
    /*border: solid #004280 2px;*/
    /*border-style:solid;
    border-width:medium medium medium thin;
    border-top-color:#004280;
    border-right-color:#004280;*/
    /*overflow: auto;*/
    font-size:18px;
    /*width: 100%;*/
}

.centerLeftTd{
    width: 250px;
    min-width: 250px;
}

.centerRightTd{
    /*border: solid blue 2px;*/
    vertical-align: top;
}

#flashSuccessWindow{
    //display: none;
}

#flashErrorWindow{
    //display: none;
}

#confirmWindow{
    display: none;
}

#confirmLearnModelWindow{
    display: none;
}

#successWindow{
    display: none;
}

#errorWindow{
    display: none;
}

#nodeMenu{
    display: none;
}

#rawData{
    display: none;
}

#rawDataValidationResult{
    display: none;
}
#testDataValidationResult{
    display: none;
}
#downloadRawDataValidationResult{
    display: none;
}
#downloadTestDataValidationResult{
    display: none;
}
.navbar-brand{
    float: right !important;
    /*font-size: 1.15em !important;*/
    height:50px !important;
    padding:10px !important;
	vertical-align:middle !important;
	font-weight: 300px; !important;
	/*font-family: "Roboto" !important;*/
	letter-spacing:1px !important;
	line-height:20px !important;
	padding-left:10px;
	/*padding-top:5px;*/
}

.medicalImaging {
    color: #4c91cd; /*#3284BF;*/
    font-size:1.1em;

    /*width:180px;
    padding-top:-3px;*/
    padding-bottom:3px;
}

.informatics {
    color: black;
    /*width:180px;*/
    font-size:1.2em;
}

.modelHeader{
    display: inline;
    text-align:center !important;
    color:#b3b3b3; /*#e6e6e6;*/ /*#1a4156;*/
    font-size: 24px;
    font-family:Segoe UI, Segoe UI Semilight;
    /*font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;*/
}

.viewerTable{
    width: 100%;
    text-align:center !important;
}

#annotation, #annotationUpdate{
    font-weight: normal;
    vertical-align: top;
}

.annotationLabel, .sharedByLabel{
    font-weight: normal;
}

