
html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: Helvetica;
    /*background-color:#fff2e6 !important; */ /*#ffd699;*/
    /*font-size:20px;*/
}


#headerDiv {
    padding-left:10px;
    /*background-color:#ffffff;*/
}

#buttonsDiv {
   padding-top:20px;
   display:block;
}

#headerDiv table{
    width:100%;
}

#headerDiv td.leftTop {
	width:550px;
	height:50px;
	vertical-align:middle;
	padding-left:10px;
	padding-top:5px;
}

#headerDiv td.leftBottom {
	/*width:205px;*/
	height:30px;
	vertical-align:bottom;
	padding-left:10px;
}


#headerDiv td.center {
	/*border-left: 1px solid #22578B;*/
	display:table-cell;
	vertical-align:middle;
	margin-left:20px;
	padding-left:20px;
	text-align:center;
	height:100%;
	/*font-family:Segoe UI, Segoe UI Semilight;*/
	font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;
	font-size:60px;
}

#headerDiv td.right {
	text-align:right;
	vertical-align:bottom;
	font-size:18px;
	padding-right:10px;
	color:#4c91cd; /*#337ab7;*/
}

#contentDiv {
    /*overflow: auto;*/
    width:90%;
    height:70%;
    padding-left:20px;
    font-size:16px;

}

.bayesHrTop {
    height: 2px;
    background:#000000; /*#1a4156;*/
    margin-bottom:0;
    margin-top: 5px;
}

.bayesHrBottom {
    height: 2px;
    background:#000000; /*#1a4156;*/
    margin-bottom:0;
    margin-top: 0;
}

#footDiv, .push {
	position:absolute;
	width:100%;
	height:2em;
	font-family:Segoe UI;
	background-color:#ffffff;
	color:#000000;
	font-size:16px;
	bottom:0;
}

#helpCancelButton {
    width:65px;
    float: right;
}

#flash-success-box, #flash-error-box{
    margin-top:20px;
    margin-bottom:0px;
}

.button {
    /*background-color: #4CAF50;*/ /* Green */
    border: none;
    color: white;
   /* padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline:none;
    /*font-weight:bold;*/
}

.topButton {
    background-color:#4c91cd; /*#337ab7;*/
    font-size: 18px;
    padding: 2px 6px;
    margin: 0px 0px;
    /*border-color:#21578A #337ab7 #337ab7 #21578A;*/
    border:1px solid #255b8e; /*#1a4156;*/ /*#21578A;*/ /*#337ab7 #337ab7 #21578A;*/
    /*border:2px solid;*/
    float:left;
    font-weight:bold;
}

.topButton:hover{
    background-color:#1a4156; /*#153451;*/ /*#21578A;*/
    font-weight:bold;
    border:1px solid #000000;
    font-weight:bold;
    /*color:#000000;*/
}

.topButton.selected{
    background-color:#1a4156; /*#153451;*/ /*#21578A;*/
    font-weight:bold;
    border:1px solid #000000;
    font-weight:bold;
}

.lowerButton {
    background-color:#ffffff; /*#4da6ff;*/ /*#1EC0FF;*/   /*#3E95F7;*/ /*#35A2CE*/
    font-size: 16px;
    padding: 0px 4px 0px 0px !important;
    /*margin: 0px 0px;*/
    border-right:1px solid #737373; /*#21578A;*/
    /*border:1px solid #0073e6;*/
    float: left;
    color:#737373; /*#404040; /*#1a4156;*/
    outline:none !important;
}

.lowerButton:hover{
    /*background-color:#004280; /*#245D73;*/
    font-weight:bold;
    /*border:1px solid #000000;*/
    color:#1a4156;
    text-decoration:underline;
    font-weight:bold;
    border-right:1px solid #737373;
    padding: 0px 4px 0px 0px !important;
}

.lowerButton.selected{
    /*background-color:#004280; /*#245D73;*/
    font-weight:bold;
    /*border:1px solid #000000;*/
    color:#1a4156;
    font-weight:bold;
    border-right:1px solid #737373;
    text-decoration:underline;
    padding: 0px 4px 0px 0px !important;
}

.viewLogButton{
    border-right:none !important;
}

.uploadCancelButton{
    font-size: 1.3em;
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

#uploadSubmit{
    font-weight: bold;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
}

#uploadSubmit:hover{
    color: #1a4156; /*#21578A;*/
}
#uploadCancel:hover{
    color: #4c91cd; /*#21578A;*/
}

#updateSubmit{
    font-weight: bold;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
}

#updateSubmit:hover{
    color: #1a4156; /*#21578A;*/
}

#updateCancel:hover{
    color: #4c91cd; /*#21578A;*/
}

/*.bootstrap-select */
/*
#load{
    float:left;
    background:yellow !important;
    color:#FFF;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
option:not(:checked) {
    background-color: green;
    color:red;
}*/

#load:focus,select.loadFocus {
   /*color: white;*/
   font-weight:bold;
   /*background-color:#245D73;*/
   border-color: #004280;/*#245D73;*/ /*#66afe9;*/
   /*border-radius:3px;*/
   /*outline:none;*/
   border:3px solid #004280; /*#245D73;*/
   -webkit-box-shadow: none; /*inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
   box-shadow: none; /*inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); */
}

.signInButton{
    font-size: 1.3em;
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
    font-weight: bold;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
}

.signInButton:hover{
    color: #1a4156; /*#21578A;*/
}

.deleting{
    display:none;
    color: #4da6ff;
}

.uploading{
    display:none;
    color: #4da6ff; /*red;*/ /*#1a4156;*/
}

.homeTitle{
    font-size:25px;
    font-weight:bold;
}

.homeDiv{
    font-family: "Times New Roman", Times, serif;
    font-size:21px;
    padding-left:20px;
    /*display:none;
    border-style:solid;
    border-bottom-color:#004280;
    border-right-color:#004280;
    border-width:thin medium medium thin;*/
}

.homeStrong {
    color:#1a4156; /*#e65c00;*/
    font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;
}

.publicNetwork, .privateNetwork {
    color:#4c91cd;
    font-family: Helvetica;
    font-size:18px;
}

#viewLogDiv{
    display:none;
    /*border:2px solid red;*/
    /*width:100%;*/
    overflow: auto;
    padding-left: 60px;
}

.logTable{
	border:2px solid #666;
	/*width:70%;*/
	border-collapse:collapse;
}

.logTable th, .logTable td{
    border: 1px solid #666;
    padding-left:2px;
}

.logTable th{
    font-size:20px;
    height:25px;
	padding: 3px;
}

.logTable td{
   height:20px;
   padding: 2px;
}

.help-block{
    display:none !important;
}

.help-inline{
    color:red;
}

input{
    outline:none !important;
}

.clearfix{
  padding-left:10px !important;
  padding-bottom:10px !important;
}

/* Sortable tables */
table.sortable th {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: pointer;;
    padding-left: 20px;
    padding-right: 20px;
}

table.sortable th.operationBy{
    width: 300px;
}

table.sortable th.operationTime{
    width: 280px;
}

table.sortable th.operationNo{
    width: 100px;
}

table.sortable th.operation{
    width: 200px;
}