#network {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

node {
	content: data(name);
	background-color: lightblue;
	font-size: 12;
}

.nodeMenu {
	color:black;
}

#splitter {
    display: none;
    border-bottom-color:#1a4156; /*#004280;*/ /*#245D73;*/
    border-right-color: #1a4156; /*#004280;*/ /*#245D73;*/
    border-width:thin medium medium thin;
}

#uploadDiv{
    overflow:hidden;
    display: none;
    padding-left: 20px;
}
#updateDiv{
    overflow:hidden;
    display: none;
    padding-left: 20px;
}

#dialogSetValues{
    display:none;
}

#confirm-box{
    display:none;
    margin-top:20px;
    margin-bottom:0px;
}

#alert-box{
    display:none;
    margin-top:20px;
    margin-bottom:0px;
}

.alertBoxClose{
    text-align: right;
}

#fileStatusDiv{
    color:#cc5200; /*#e65c00; /*#ff6600; /*#ff751a;*/ /*#ff944d;*/
}

#success-box{
    display:none;
    margin-top:20px;
    margin-bottom:0px;
}
/*
.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all {
	width: 200px !important; top: 310px !important; left: 312px !important;
} */
button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
	width: 400px !important; /* 225px and 310px default */
}

