#network {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

node {
	content: data(name);
	background-color: lightblue;
	font-size: 12;
}

.nodeMenu {
	color:black;
}

#splitter {
    display: none;
}

#uploadDiv{
    overflow:hidden;
    display: none;
    padding-left: 20px;
}
#dialogSetValues{
    display:none;
}
/*
#load{
    padding-left:10px;
} */