@(passwordForm: Form[Application.ChangePassword])
@import helper._
@import helper.twitterBootstrap._

@main() {
    @helper.form(helper.CSRF(routes.Application.saveNewPassword) ) {
        <script type="text/javascript">
            $(document).ready(function () {
                alert("ready here");
                $("#txtConfirmPassword").keyup(function() {
                    alert("meme");
                    var password = $("#txtNewPassword").val();
                    $("#divCheckPasswordMatch").html(password ==
                        $(this).val() ? "Passwords match." : "Passwords do not match!");
                });
            });
        </script>
        <h1>Change password</h1>
        <br>
        <p>
            <input type="password"
                   name="oldPassword"
                   placeholder="Old Password">
        </p>
        <p>
            <input type="password" id="txtNewPasswordId"
                   name="newPassword"
                   placeholder="New Password">
        </p>
        <p>
            <input type="password" id="txtConfirmPassword"
                   name="confirmedPassword"
                   placeholder="Confirm Password">
        </p>
        <div class="registrationFormAlert" id="divCheckPasswordMatch"></div>
        <br><br>
        <p>
            <button type="submit">Save Changes</button>
        </p>
    }
}