@main(){
	<div id="topButtonsDiv">
		<button class="button topButton homeButton privateButton" type="button" onclick="location.href='/';">Home</button>
	</div>
	<div class="homeDiv">
		<br><br>
		Welcome to <strong class="homeStrong">Predictive Modeling Viewers!</strong>
		@**
	<p>
		The <strong class="homeStrong">Bayesian Network Viewer</strong> is a tool for viewing and sharing clinical Bayesian
		networks.
	</p>
		<br>
	<p>For <strong><span class="publicNetwork">Public Bayesian Network</span></strong>,
		any user can view it.
	</p>
	<p>For <strong><span class="privateNetwork">Private Bayesian Network</span></strong>, only
		registered user can view it.
		The registered user can upload new network files and shared them with other registered users.
		Also the owner of the network file can update and delete the network file, and view the log
		history of the network file.
	</p><br>
	<p>The file format of the bayesian networks is *.xdsl that is built on
		<a class="homeLink" href="https://dslpitt.org/genie/wiki/GeNIe_Tutorials:_Tutorial_3_-_Building_a_Bayesian_network">
			GeNIe</a>.</p>
		<br>
		**@

		<br><br>
	<p>Any question or comment please
		<a href="mailto:bnviewer@@mii.ucla.edu?Subject=Bayesian%20network%20viewer"
		   target="_top">contact us</a>.
	</p>

	</div>
	@if(flash.containsKey("success")){
		<div id="flashSuccessWindow">
			<div>title</div>
			<div id="flash-success-box" class="alert alert-success" >
				<p class="close" onclick="hideFlashSuccessBox()" data-dismiss="alert" aria-label="close">&times;</p>
				<strong>Success!</strong>&nbsp;@flash.get("success")
			</div>
		</div>
	}

	@if(flash.containsKey("error")){
		<div id="flashErrorWindow">
			<div>title</div>
			<div id="flash-error-box" class="alert alert-danger">
				<p class="close" onclick="hideFlashErrorBox()" data-dismiss="alert" aria-label="close">&times;</p>
				<strong>Error:</strong>&nbsp;@flash.get("error")
			</div>
		</div>
	}

	@if(flash.containsKey("alert")){
		<div id="flashErrorWindow">
			<div>title</div>
			<div id="flash-error-box" class="alert alert-danger">
				<p class="close" onclick="hideFlashErrorBox()" data-dismiss="alert" aria-label="close">&times;</p>
				<strong>Alert:</strong>&nbsp;@flash.get("alert")
			</div>
		</div>
	}

}
