@main {
	<br><br>
	<div class="homeDiv">
	<p>
		The <strong class="homeStrong">Bayesian Network Viewer</strong> is a tool for viewing and sharing clinical Bayesian
		networks.
		@** as well as various other types of predictive models. **@
	</p>
		<br>
	<p>For <strong><span class="publicNetwork">Public Bayesian Network</span></strong>,
		any user can view it.
	</p>
	<p>For <strong><span class="privateNetwork">Private Bayesian Network</span></strong>, only
		registered user can view it.
		The registered user can upload new network files and shared them with other registered users.
		Also the owner of the network file can update and delete the network file, and view the log
		history of the network file.
	</p><br>
	<p>The file format for the bayesian networks is *.xdsl that is built based on
		<a class="homeLink" href="https://dslpitt.org/genie/wiki/GeNIe_Tutorials:_Tutorial_3_-_Building_a_Bayesian_network">
			GeNIe</a>.</p>
		<br>
	<p>Any question or comment please
		<a href="mailto:bnviewer@@mii.ucla.edu?Subject=Bayesian%20network%20viewer"
		   target="_top">contact us</a>.
	</p>
	</div>
}
