@(loginForm: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._

@main {
    @helper.form(helper.CSRF(routes.Application.authenticate) ) {
        <h2>Sign in</h2>
        <input type="text" name="userName" placeholder="User Name"
                    value="@loginForm("userName").value">
        <p></p>
        <input type="password" name="password"
                    placeholder="Password"><br><br>

        <button type="submit" class="signInButton">Submit</button>
    }
}