@(loginForm: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._

@main(){
    <div id="topButtonsDiv">
        <button class="button topButton homeButton privateButton" type="button" onclick="location.href='/';">Home</button>
    </div>
    @helper.form(helper.CSRF(routes.Application.authenticate) ) {
        <div class="homeDiv">
            <br>
            <h2>Sign in</h2><br>
            @**
            <input type="text" name="userName" placeholder="User Name"
                        value="@loginForm("userName").value">
            <p></p>
            <input type="password" name="password"
                        placeholder="Password"><br><br>
            **@

            @helper.inputText(field = loginForm("userName"))
            @helper.inputPassword(loginForm("password"))<br>

            <div class="clearfix">
            <button type="submit" class="signInButton">Submit</button>
            </div>
        </div>
    }
    @if(flash.containsKey("success")){
		<div id="flashSuccessWindow">
			<div>title</div>
			<div id="flash-success-box" class="alert alert-success" >
				<p class="close" onclick="hideFlashSuccessBox()" data-dismiss="alert" aria-label="close">&times;</p>
				<strong>Success!</strong>&nbsp;@flash.get("success")
			</div>
		</div>
	}

	@if(flash.containsKey("error")){
		<div id="flashErrorWindow">
			<div>title</div>
			<div id="flash-error-box" class="alert alert-danger">
				<p class="close" onclick="hideFlashErrorBox()" data-dismiss="alert" aria-label="close">&times;</p>
				<strong>Error:</strong>&nbsp;@flash.get("error")
			</div>
		</div>
	}
}