@(headTitle:String="Model Viewer")(content:Html)

<!DOCTYPE html>
<html>
	<head>
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" />
		<link href="@routes.Assets.at("stylesheets/chart.css")" rel="stylesheet" />
		<link href="@routes.Assets.at("stylesheets/network.css")" rel="stylesheet" />
		<link href="@routes.Assets.at("stylesheets/jqx.base.css")" rel="stylesheet" />
        <link href="@routes.Assets.at("bootstrap-3.3.6-dist/css/bootstrap.min.css")" rel="stylesheet" media="screen">

        @** the following css used for multiselect **@
        <link href="@routes.Assets.at("stylesheets/jquery-ui.css")" rel="stylesheet" />
        <link href="@routes.Assets.at("stylesheets/jquery.multiselect.css")" rel="stylesheet" />

        @** the following css used for spin  **@
        <link href="@routes.Assets.at("font-awesome-4.5.0/css/font-awesome.min.css")" rel="stylesheet" media="screen"/>

        @**type="text/css" media="screen" /> **@
		<link href="@routes.Assets.at("stylesheets/jquery.multiselect.filter.css")" rel="stylesheet" />
        @** type="text/css" media="screen" /> **@
		<meta charset=utf-8 />

		<link rel="shortcut icon" type="image/icon" href="@routes.Assets.at("images/favicon.ico")"/>
		<title>@headTitle</title>

        <script src="@routes.Assets.at("javascripts/jquery-2.1.3.min.js")"></script>

        @**<script src="@routes.Assets.at("javascripts/jquery.js")"></script> **@
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
		<script src="@routes.Assets.at("javascripts/d3.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/cytoscape.js")"></script>
		<script src="@routes.Assets.at("javascripts/jqxcore.js")"></script>
	    <script src="@routes.Assets.at("javascripts/jqxsplitter.js")"></script>
	    <script src="@routes.Assets.at("javascripts/jqxpanel.js")"></script>
	    <script src="@routes.Assets.at("javascripts/jqxbuttons.js")"></script>
	    <script src="@routes.Assets.at("javascripts/jqxscrollbar.js")"></script>
	    <script src="@routes.Assets.at("javascripts/jqxwindow.js")"></script>
	    <script src="@routes.Assets.at("javascripts/jqxmenu.js")"></script>
   	    <script src="@routes.Assets.at("javascripts/jqxtabs.js")"></script>
	    <script src="@routes.Assets.at("javascripts/freewall.js")"></script>
		<script src="@routes.Assets.at("javascripts/jqxgrid.js")"></script>
		<script src="@routes.Assets.at("javascripts/jqxgrid.selection.js")"></script>
		<script src="@routes.Assets.at("javascripts/jqxgrid.columnsresize.js")"></script>
		<script src="@routes.Assets.at("javascripts/jqxdata.js")"></script>
		<script src="@routes.Assets.at("javascripts/jqxdatatable.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.multiselect.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.multiselect.filter.js")"></script>
		<script src="@routes.Assets.at("javascripts/sorttable.js")"></script>


		<!-- our own scripts -->
		<script src="@routes.Assets.at("javascripts/bnetwork.js")"></script>
		<script src="@routes.Assets.at("javascripts/chart.js")"></script>
		<script src="@routes.Assets.at("javascripts/bnmodel.js")"></script>
		<script src="@routes.Assets.at("javascripts/viewer.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>

	    <!-- Embedded Javascript router -->
        @helper.javascriptRouter("jsRoutes")(
              routes.javascript.BnApp.network,
              routes.javascript.BnApp.loadModel,
              routes.javascript.BnApp.uploadTestRawData,
              routes.javascript.BnApp.saveNewModel,
              routes.javascript.BnApp.setEvidence,
              routes.javascript.BnApp.setVirtualEvidence,
              routes.javascript.BnApp.clearAllEvidence,
              routes.javascript.BnApp.clearEvidence,
              routes.javascript.BnApp.setAsTarget,
			  routes.javascript.BnApp.removeTarget,
              routes.javascript.BnApp.clearAllTargets,
              routes.javascript.BnApp.clearAll,
              routes.javascript.BnApp.getCPT,
              routes.javascript.BnApp.checkModel,
		      routes.javascript.BnApp.uploadModel,
		      routes.javascript.BnApp.downloadModel,
		      routes.javascript.BnApp.downloadData,
		      routes.javascript.BnApp.deleteModel,
		      routes.javascript.BnApp.getModelStatus,
		      routes.javascript.BnApp.getModelHistory,
		      routes.javascript.BnApp.home,
		      routes.javascript.BnApp.getRawData,
		      routes.javascript.BnApp.changeAlgorithm
              )
	</head>

    <body>
         <div id="headerDiv">
             <table>
                 <tr>
                     <td class="left">
                     	<div class="wrap-branding leftTop">
							<a class="logo navbar-btn" href="http://www.ucla.edu" title="UCLA">
                             	<img src="@routes.Assets.at("images/ucla-std-blk-cmyk_0.png")">
                         	</a>

                         	<a class="navbar-brand" href="http://www.mii.ucla.edu" title="MII">
                         		<div class="medicalImaging">
                         			medical imaging
                         		</div>
                         		<div class="informatics">
                         			INFORMATICS
                         		</div>
                         	</a>
                        </div>
                     </td>
                     <td class="center">
                     	 Predictive Modeling Viewers
                     </td>
                     <td class="right">
                         @if(session.containsKey("user")){
                            User: @session.get("user")
                         @**| <a href="/changePassword">Change password </a> **@
                            | <a href="/logout">Sign out</a>
                         } else {
                            <a href="/login">Sign in</a>
                            | <a href="/register">Sign up</a>
                         }
                     </td>
                 </tr>
             </table>
             <hr class="bayesHrTop">
         </div>

		 <div id="centerDiv">
		 	<table>
		 	<tr><td class="centerLeftTd">
		 	<div id="centerLeftDiv">
		 		<br><br><br>
				<table class="viewerTable">
					<tr><td>
							<button class="button leftButton predictiveButton activeButton"
								type="button" onclick="location.href='/';">Predictive Models</button>
						</td>
					</tr>
					<tr>
						<td><br>
							<button class="button leftButton bnButton activeButton"
								type="button" onclick="location.href='/bn/home';">Bayesian Network</button>
						</td>
					</tr>
					<tr>
						<td><br>
							<button class="button leftButton regressionButton"
								type="button" onclick="location.href='/under-construction';">Regression</button>
						</td>
					</tr>
					<tr>
						<td><br>
							<button class="button leftButton neuralNetworkButton"
								type="button" onclick="location.href='/under-construction';">Neural Network</button>
						</td>
					</tr>
				</table>
		 	</div>
		 	</td>
		 	<td class="centerRightTd">
			<div id="contentDiv">
				@**
				<div id="topButtonsDiv">
                	<button class="button topButton homeButton" type="button" onclick="location.href='/bn/home';">Home</button>
                    <button class="button topButton publicButton" type="button" onclick="location.href='/bn/public';">Public Bayesian Network</button>
                   	<button class="button topButton privateButton" type="button" onclick="location.href='/bn/private';">Private Bayesian Network</button>
                </div>

				 @@if(flash.containsKey("success")){
					 <div id="flash-success-box" class="alert alert-success" >
						 <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						 <strong>Success!</strong>&nbsp;@flash.get("success")
					 </div>
				 }
				 @@if(flash.containsKey("error")){
					 <div id="flash-error-box" class="alert alert-danger">
						 <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						 <strong>Error:</strong>&nbsp;@flash.get("error")
					 </div>
				 }
				 **@
				@content
			</div>
			</td>
			</tr>
			</table>
		 </div>

         <div id="footDiv">
             <hr class="bayesHrBottom">
             &nbsp;&nbsp;&#169;2016 Medical Imaging Informatics Group | Department of Radiological Sciences, UCLA | Regents of the University of California. All rights reserved.
         </div>

         <script type="text/javascript">
         	documentReady();
         </script>

    </body>
</html>