@(models: List[String], dataType:String)

@main{
	<div id="buttonsDiv">
		@if( models == null || models.size() == 0 ) {
			<select id="load" onMouseDown="loadModel();">
				<option selected disabled hidden value=''>Show existed bayesian network</option>
			</select>
		}else{
			<select id="load" onChange="loadModel(this.options[this.selectedIndex].value)">
				<option selected disabled hidden value=''>Show existed bayesian network</option>
				@for(model <- models) {
					<option value="@model">@model</option>
				}
			</select>
		}
		@if(dataType.equals("private")) {
			<button type="button" onclick="showUpload()">Upload New File</button>
		}
		<button type="button">Show All Posterior Probabilities</button>
		<button type="button" onclick="clearAllEvidence()">Clear All Evidence</button>
		<button type="button" onclick="clearAllTargets()">Clear All Targets</button>
		<button type="button" onclick="centerNetwork()">Center Network</button>
	</div>
	<br>

    <div id='splitter'>
        <div>
        	<div id="network"></div>
        </div>
        <div>
	        <div id="chartJQXPanel">
		        <div id="chartDiv">
		        </div>
	        </div>
        </div>
    </div>

    <div id="dialogSetValues">

		<div id="customWindowContent" style="overflow: hidden">

			<div id="dialogTabs">
				<ul>
	                <li>General</li>
	                <li>Set Evidence</li>
	                <li>Set Virtual Evidence</li>
	                <li>Definition</li>
	            </ul>
				<div id="dialogGeneralPanel"></div>
				<div id="dialogSetEvidencePanel">
					<div id="formDiv"></div>
					<input type="button" onclick="setEvidence()" value="Set Evidence" id="setEvidenceButton" />
				</div>
				<div id="dialogSetVirtualEvidencePanel">
					<div id="formDiv"></div>
					<input type="button" onclick="setVirtualEvidence()" value="Set Virtual Evidence" id="setVirtualEvidenceButton" />
				</div>
				<div id="dialogDefinitionPanel"></div>
			</div>

			<div style="float: right">
				<input type="button" onclick="clearEvidence()" value="Clear Evidence" id="clearEvidenceButton" />
				<input type="button" value="Done" id="doneButton" />
			</div>
		</div>

    </div>

    <div id="nodeMenu">
	    <input id="nodeID" type="hidden"/>
		<ul >
			<li id="target" onclick="setAsTarget()">Set As Target</li>
			<li id="offTarget" onclick="removeTarget()">Remove Target</li>
		</ul>
    </div>

    <div id="rawData">
		<div id="windowContent" style="overflow: hidden">
			<div id="rawTable"></div>
			<div style="float: right"> <input type="button" value="Done" id="rawDoneButton" /></div>
		</div>
	</div>

	<div id="uploadDiv">
		<form enctype="multipart/form-data" id="modelForm" >
		<p><strong>Please upload new file:</strong></p>
		<ol type="1">
			<li>
				<p>Select your model file with extension xdsl and make checkbox checked if the file is public. </p>
				<input id="modelFile" name="modelFile" type="file"/><br>
				<input id="isModelPublic" name="isModelPublic" type="checkbox">&nbsp;The file is public
			</li>
			<br>
			<li>
				<p> Select your model's raw data file with extension csv (optional) and make checkbox checked if the file is public. </p>
				<input id="dataFile" name="dataFile" type="file"  /><br>
				<input id="isDataPublic" name="isDataPublic" type="checkbox">&nbsp;The file is public
			</li>
		</ol>
		</form>
		<br>
		<input id="uploadButton" type="button" onClick="getModelUpload()" value="Upload" />
		<input type="button" value="Cancel" onClick="window.location='/network/private';" id="uploadDone" />
		<br>
		@*<progress id ="modelProgress" value="0" max="100"></progress> *@
		@**<div style="float: right"> **@
	</div>

}


