@(registerForm: Form[Application.Register])
@import helper._
@import helper.twitterBootstrap._

@main {
    @helper.form(helper.CSRF(routes.Application.saveRegistration) ) {
        <h2>Register your personal account</h2>
        <p></p>
        <input type="text" name="userName" placeholder="User Name"
               value="@registerForm("userName").value">
        <p></p>
        <input type="password" name="password"
               placeholder="Password">
        <p></p>
        <input type="email" name="email" placeholder="Email"
               value="@registerForm("email").value">
        <p></p>
        <input type="text" name="firstName"
               placeholder="First Name" value="@registerForm("firstName").value">
        <p></p>
        <input type="text" name="lastName"
               placeholder="Last Name" value="@registerForm("lastName").value">
        <p></p>
        <input type="text" name="title"
               placeholder="Title" value="@registerForm("title").value">
        <p></p>
        <input type="text" name="organization"
               placeholder="Organization" value="@registerForm("organization").value">
        <br><br>
        <button type="submit" class="signInButton">Submit</button>
    }
}